body{
    font-size: x-large;
    max-width: 100%;
}

th, td{
    max-width: 150px;
    word-wrap: break-word;
}

tr{
    background-color: rgba(0,0,0,.1);
}

.infoWrapper{
    word-wrap: normal;
}

.formInput{
    font-size: x-large;
    width: 200px;
}

.formButton{
    font-size: x-large;
}
.formItem{
    margin-bottom: 20px;
}

.tableHeading{
    display: flex;
    flex-direction: row;
}
.tableHeading h4{
    padding-left: 20px;
}
.radioSelector{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.radio{
    margin-left: 20px;
}
.formItemLabel{
    font-weight: bold;
    margin-right: 20px;
}

.trafficInfo{
    color: green;
}
.red{
    color: red;
}
